#account-info-top-of-page {
  padding-top: 10px;
  font-size: 50px;
}

#user-missions-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mission-card-link {
  text-align: center;
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;

  /* Outline styles */
  outline-width: 5px;
  outline-style: solid;
  outline-color: black; /* Changed to black by default */
  margin-top: 100px;
  padding-bottom: 10px;

  /* Add a smooth transition for the outline color */
  transition: outline-color 0.3s ease-in-out;
}

.mission-card-link:hover,
.mission-card-link:focus {
  outline-color: #0266a0; /* Changed to blue on hover AND focus */
}

.mission-progress-bar-container {
  margin-left: 2.5%;
  width: 95%;
}

.mission-countdown-container {
  display: inline-block; /* Makes the width shrink to fit its content */
  text-align: center;
}

.mission-countdown-container p {
  margin: 0 0 5px 0;
  font-size: 0.9em;
  color: green;
}

.mission-countdown-timer {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.mission-countdown-timer span {
  display: inline-block;
  min-width: 35px;
}

.countdown-label {
  font-weight: normal;
}

.mission-launch-message {
  margin-top: 10px;
  font-size: 1em;
}