#user-missions-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.mission-card-link {
    text-align: center;
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;

    /* Outline styles */
    outline-width: 5px;
    outline-style: solid;
    outline-color: #0266a0;
    margin-top: 100px;
}

.mission-countdown-container {
  display: inline-block; /* Makes the width shrink to fit its content */
  text-align: center;
}

.mission-countdown-container p {
  margin: 0 0 5px 0;
  font-size: 0.9em;
  color: green;
}

.mission-countdown-timer {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.mission-countdown-timer span {
  display: inline-block;
  min-width: 35px;
  text-align: center;
}

.mission-launch-message {
  margin-top: 10px;
  font-size: 1em;
}